
body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  margin: 1em 1em;
}

h1 {
  font-size: 140%;
  font-weight: bold;
  margin: 1em 0;
}
h1 img {
  margin-right: 0.35em;
  border: 1px solid #f9f9f9;
}

h2 {
  font-size: 120%;
  margin: 1em 0;
}

.bookmark {
  margin: 0.7em 0;
}
.bookmark > * {
  display: inline-block;
  line-height: 1.4em;
}
.bookmark .logo {
  margin-left: 3px;
  width: 14px;
}
.bookmark .time {
  margin-left: 21px;
  opacity: 0.4;
}
.bookmark .description {
  margin-left: 1em;
}
.bookmark:nth-child(odd) {
  background-color: #eeeeee;
}

.bookmarklet {
  margin-top: 3px;
  float: right;
}
.bookmarklet .logo {
  width: 14px;
  margin-right: 3px;
}
.bookmarklet a {
  text-decoration: none;
}

form .inputs input {
  font-size: 105%;
  display: block;
  width: 50%;
  margin-bottom: 0.35em;
}
form .inputs textarea {
  display: block;
  width: 49.945%;
  height: 4em;
}
form .buttons {
  margin-top: 1.4em;
}
form .buttons input {
  font-size: 110%;
  margin-right: 0.4em;
}

.flash {
  line-height: 2em;
  padding: 0.35em;
  vertical-align: middle;
}
.flash.error {
  background-color: rgba(255, 0, 0, 0.49);
  color: white;
  border: 1px solid red;
}
.flash.success {
  background-color: lightgreen;
  color: green;
  border: 1px solid green;
}

